/* ---- Rain & Snow ----------------------------- */
/* -- Container */
.rain-snow, .rain, .snow { display: block; margin: 0; }

/* -- Title and value */
.rain-snow .title,
.rain-snow .value { display: inline-block; }

.rain-snow .value { color: #517CDB; font-weight: bold; }