/* ---- Weather --------------------------------- */
/* -- Container */
.weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* -- Icon */
.weather-icon {
  width: 100%;
  background: hotpink;
}

.weather-icon::before {
  content: "";
  float: left;
  padding-bottom: 100%;
}

.weather-icon::after {
  content: "";
  display: table;
  clear: both;
}

/* -- Text */
.weather-text {
  font-size: 1em;
  margin: 10px 0 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.weather-text::first-letter {
  text-transform: uppercase;
}