/* ---- Date changer ---------------------------- */
/* -- Container */
.fd-date-changer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30px;
  background: #ED2939;
  color: white;
  border-radius: 15px 15px 0 0;
}

/* -- Next & prev. arrows */
.fd-previous-date,
.fd-next-date {
  flex: 0 0 auto;
  width: 12px;
  height: 12px;
  background-size: 12px 12px;
  filter: invert(100%) sepia(0%) saturate(7464%) hue-rotate(123deg) brightness(101%) contrast(112%);
  transition: filter 200ms ease-in;
  cursor: pointer;
}

.fd-previous-date:hover,
.fd-next-date:hover { filter: invert(84%) sepia(5%) saturate(11%) hue-rotate(354deg) brightness(97%) contrast(91%); }

.fd-previous-date {
  margin-left: 8px;
  background: url("../../../assets/images/arrow_back_ios_new_black_24dp.svg") center;
}

.fd-next-date {
  margin-right: 8px;
  background: url("../../../assets/images/arrow_forward_ios_black_24dp.svg") center;
}

/* -- Selected date */
.fd-current-date {
  flex: 1;
  text-align: center;
}

/* ---- Time changer ---------------------------- */
/* -- Container */
.fd-time-changer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30px;
  background: #E31F2F;
  color: white;
  border-radius: 0 0 15px 15px;
}

/* -- Next & prev. arrows */
.fd-previous-time,
.fd-next-time {
  flex: 0 0 auto;
  width: 12px;
  height: 12px;
  background-size: 12px 12px;
  filter: invert(100%) sepia(0%) saturate(7464%) hue-rotate(123deg) brightness(101%) contrast(112%);
  transition: filter 200ms ease-in;
  cursor: pointer;
}

.fd-previous-time:hover,
.fd-next-time:hover { filter: invert(84%) sepia(5%) saturate(11%) hue-rotate(354deg) brightness(97%) contrast(91%); }

.fd-previous-time {
  margin-left: 8px;
  background: url("../../../assets/images/arrow_back_ios_new_black_24dp.svg") center;
}

.fd-next-time {
  margin-right: 8px;
  background: url("../../../assets/images/arrow_forward_ios_black_24dp.svg") center;
}

/* -- Time carrousel */
.fd-all-time {
  flex: 1;
  position: relative;
  height: 30px;
  line-height: 15px;
  overflow: hidden;
}

/* -- Time item */
.fd-all-time .fd-time {
  position: absolute;
  font-size: 1em;
  transition: transform 1s, left 1s, font-size 1s, opacity 1s, z-index 0s;
  opacity: 1;
}

.fd-all-time .fd-time.before-previous {
  left: 0;
  font-size: 0.8em;
  opacity: 0;
  transform: translateX(-50%) translateY(50%);
}

.fd-all-time .fd-time.previous {
  left: 20%;
  font-size: 0.8em;
  transform: translateX(-50%) translateY(50%);
  z-index: 5;
}

.fd-all-time .fd-time.current {
  left: 50%;
  font-weight: bold;
  transform: translateX(-50%) translateY(50%);
  z-index: 10;
}

.fd-all-time .fd-time.next {
  left: 80%;
  font-size: 0.8em;
  transform: translateX(-50%) translateY(50%);
  z-index: 5;
}

.fd-all-time .fd-time.after-next {
  left: 100%;
  font-size: 0.8em;
  opacity: 0;
  transform: translateX(-50%) translateY(50%);
}