/* ---- Add Simple City ------------------------- */
/* -- Container */
.add-simple-city {
  box-sizing: border-box;
  position: relative;
  /* 15px is the gap between elements in .cities-wrapper */
  width: calc(20% - 15px);
  margin: 0 2px 2px 0;
  border-width: 3px;
  border-style: dashed;
  border-radius: 15px;
  transition: background-color 50ms ease-in;
  cursor: pointer;
}

.add-simple-city::before {
  content: "";
  float: left;
  padding-bottom: 100%;
}

.add-simple-city::after {
  content: "";
  display: table;
  clear: both;
}

.add-simple-city.expand {
  border: none;
  cursor: auto;
}

.asc-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.add-simple-city.expand .asc-content { position: relative; }

/* -- Disable idle mode button */
.asc-show-form-btn {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.asc-show-form-btn svg {
  width: 30%;
  height: 30%;
}

/* -- Form */
.asc-content form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%
}

.asc-form-field {  margin-bottom: 10px; }

.asc-form-field input {
  text-align: center;
  font-size: 1.25em;
  width: 100%;
  line-height: normal;
  background: none;
  border: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  font-weight: bold;
}

.asc-form-field input::placeholder { font-size: 0.7em; }

.asc-form-field input:focus,
.asc-form-field input:not(:placeholder-shown) { outline: none; }

.asc-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  height: 40px;
}

.asc-add-button {
  margin: 0 1px 1px 0;
  padding: 0 5px;
  border-radius: 15px 0 0 15px;
  cursor: pointer;
  transition: background-color 50ms ease-in;
}
.asc-add-button:active { margin: 1px 0 0 1px; }

.asc-add-button input { display: none; }

.asc-add-button-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.asc-add-button-content svg {
  width: 60%;
  height: 60%;
  transition: fill 50ms ease-in;
}

.asc-add-button-content span {
  font-size: 1.1em;
  font-weight: bold;
  transition: color 50ms ease-in;
}

.asc-cancel {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  margin: 0 1px 1px 0;
  border: none;
  border-radius: 0 15px 15px 0;
  transition: background-color 50ms ease-in;
  -webkit-appearance: none;
  cursor: pointer;
}
.asc-cancel:focus { outline: none; }
.asc-cancel:active { margin: 1px 0 0 1px; }

.asc-cancel input { display: none; }
.asc-cancel svg { transition: fill 50ms ease-in; }