/* ---- Humidity -------------------------------- */
/* -- Container */
.humidity { display: block; margin: 0; }

/* -- Title and value */
.humidity .title,
.humidity .value { display: inline-block; }

.humidity .value { color: #517CDB; font-weight: bold; }