/* ---- Simple City ----------------------------- */
/* -- Container */
.simple-city {
  box-sizing: border-box;
  position: relative;
  text-align: center;
  /* 15px is the gap between elements in .cities-wrapper */
  width: calc(20% - 15px);
  margin: 0 2px 2px 0;
  padding: 10px 0;
  background: #F7F7F7;
  border-radius: 15px;
  box-shadow: 3px 3px 0 3px #E7E6E6;
  -webkit-box-shadow: 3px 3px 0 3px #E7E6E6;
  -moz-box-shadow: 3px 3px 0 3px #E7E6E6;
  transition: background-color 50ms ease-in;
  cursor: pointer;
}

.simple-city:hover {
  background: #EDEDED;
  box-shadow: 3px 3px 0 3px #DDDCDC;
  -webkit-box-shadow: 3px 3px 0 3px #DDDCDC;
  -moz-box-shadow: 3px 3px 0 3px #DDDCDC;
}

.simple-city.pressed {
  margin: 2px 0 0 2px;
  box-shadow: 1px 1px 0 1px #DDDCDC;
  -webkit-box-shadow: 1px 1px 0 1px #DDDCDC;
  -moz-box-shadow: 1px 1px 0 1px #DDDCDC;
}

/* -- City name */
.simple-city-name {
  margin: 0 0 10px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.simple-city-name::first-letter { text-transform: uppercase; }

/* -- Weather */
.simple-city .weather-icon {
  position: relative;
  width: 80%;
}

.simple-city .wind {
  position: absolute;
  bottom: 3px;
  left: 3px;
  display: block;
}

/* -- Delete */
.simple-city-delete {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.simple-city-delete.menuOpened,
.simple-city:hover .simple-city-delete { display: block; }

.simple-city-delete,
.simple-city-delete.menuClosed { display: none; }

.scd-button {
  position: absolute;
  top: -7px;
  right: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: #EDEDED;
  border-radius: 50%;
  box-shadow: 1px 1px 0 1px rgb(221, 220, 220);
  -webkit-box-shadow: 1px 1px 0 1px rgb(221, 220, 220);
  -moz-box-shadow: 1px 1px 0 1px rgb(221, 220, 220);
  cursor: pointer;
  z-index: 50;
}

.scd-button:hover,
.simple-city-delete.menuOpened .scd-button {
  background: #E3E3E3;
  box-shadow: 1px 1px 0 1px rgb(211, 210, 210);
  -webkit-box-shadow: 1px 1px 0 1px rgb(211, 210, 210);
  -moz-box-shadow: 1px 1px 0 1px rgb(211, 210, 210);
}

.scd-menu {
  position: absolute;
  top: 0;
  /* scd-menu.width - (.scd-button.top + .scd-button.width / 2) + 10 */
  right: -152px;
  width: 150px;
  background: #EDEDED;
  border-radius: 10px;
  box-shadow: 6px 6px 15px -1px rgba(0,0,0,0.3);
  -webkit-box-shadow: 6px 6px 15px -1px rgba(0,0,0,0.3);
  -moz-box-shadow: 6px 6px 15px -1px rgba(0,0,0,0.3);
  z-index: 40;
}

.scd-menu.open { display: block; }
.scd-menu.close { display: none; }

.scd-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.scd-menu-item {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  width: 100%;
  height: 40px;
  line-height: 37px;
  padding-left: 10px;
}

.scd-menu-item:hover                { background: khaki; }
.scd-menu-item.red-hover:hover      { background: #ED2939; color: white; }
.scd-menu-item.red-hover:hover svg  { fill: white; }

.scd-menu-item:first-child { border-top-left-radius: 10px; border-top-right-radius: 10px; }
.scd-menu-item:last-child { border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; }

.scd-menu-item-icon {
  margin-right: 5px;
}