/* ---- Precipitation --------------------------- */
/* -- Container */
.precipitation { display: block; margin: 0; }

/* -- Title and value */
.precipitation .title,
.precipitation .value { display: inline-block; }

.precipitation .value { color: #517CDB; font-weight: bold; }