/* ---- Visibility ------------------------------ */
/* -- Container */
.visibility { display: block; margin: 0; }

/* -- Title and value */
.visibility .title,
.visibility .value { display: inline-block;  }

/* TODO: Change to primary color */
.visibility .value { color: #ED2939; font-weight: bold; }