/* ---- Visibility ------------------------------ */
/* -- Container */
.visibility { display: block; margin: 0; }

/* -- Title and value */
.visibility .title,
.visibility .value { display: inline-block;  }

.visibility .value { color: #517CDB; font-weight: bold; }