/* ---- App ------------------------------------- */
/* -- Whole app */
.App {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  min-height: 100vh;
}

/* -- Header */
.App-header {
  box-sizing: border-box;
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75px;
  margin: 0 auto;
  padding: 0 20px;
  /* DARK background-color: #323643; */
  background: #396afc;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #517cdb, #3eb1cd);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #517cdb, #3eb1cd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

.App-header-section {
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 75px;
}

.App-header-section.left > * { margin-right: auto; }
.App-header-section.right > * { margin-left: auto; }

.App-header-section .App-logo {
  padding: 10px 0;
}

/* -- Body */
.App-body {
  position: relative;
  flex: 1;
  display: flex;
  width: 100%;
}