/* ---- Cloudiness ------------------------------ */
/* -- Container */
.cloudiness { display: block; margin: 0; }

/* -- Title and value */
.cloudiness .title,
.cloudiness .value { display: inline-block; }

.cloudiness .value { color: #517CDB; font-weight: bold; }