/* ---- Cloudiness ------------------------------ */
/* -- Container */
.cloudiness { display: block; margin: 0; }

/* -- Title and value */
.cloudiness .title,
.cloudiness .value { display: inline-block; }

/* TODO: Change to primary color */
.cloudiness .value { color: #ED2939; font-weight: bold; }