@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,700&family=Open+Sans:ital,wght@0,400;0,600;1,400&display=swap");

/* ---- Global ---------------------------------- */
/* -- Body */
body {
  margin: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* -- Code block */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* -- Links */
.link {
  color: #969696;
  text-decoration: none;
}

.link.red { color: #ED2939; }

/* -- Errors */

.error {
  display: inline-block;
  font-size: 0.9em;
  color: #ED2939;
}

/* -- Special classes */
.normal-font {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
}

.highlight-font {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  font-weight: bold;
}

.ellipsis {
  width: 100%;
  line-height: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.no-padding { padding: 0 !important; }

.custom-scrollbars::-webkit-scrollbar       { width: 12px; }
.custom-scrollbars::-webkit-scrollbar-track { background: transparent; }
.custom-scrollbars::-webkit-scrollbar-thumb { background-color: gray; border-radius: 20px; }
.custom-scrollbars {
  scrollbar-width: thin;
  scrollbar-color: transparent gray;
}

.square-keep-ratio { width: 100%; }
.square-keep-ratio:not(.wi)::before { content: ""; }
.square-keep-ratio::before {
  float: left;
  padding-bottom: 100%;
}

.square-keep-ratio::after {
  content: "";
  display: table;
  clear: both;
}