/* ---- Pressure -------------------------------- */
/* -- Container */
.pressure { display: block; margin: 0; }

/* -- Title and value */
.pressure .title,
.pressure .value { display: inline-block; }

.pressure .value { color: #517CDB; font-weight: bold; }